.App {
  border: 10px solid gray;
  max-width: 600px;
  margin: 0 auto;
  padding: .5rem 1rem;
}

.App > h1 {
  margin-top:0;
}

@media screen and (max-width: 600px){
  .App{
    margin: 1rem 1rem;
  }
}

input.New-todo{
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid #cccc;
  border-radius: 3px;
  font-size:1.2rem;
}

input.New-todo{
  outline: none;
}

.App-todos{
  list-style: none;
  padding:0;
  font-size:1.2rem;
}

.App-todos > li {
  display: flex;
  align-items: center;
  padding: .5rem
}
.App-todos > li  > span{
cursor:pointer;
}

.App-todos > li:hover {
background-color: #cccc;
border-radius: .5rem;
}

.App-todos > li> input{
  margin-right:8px;
}

.App-delete{
  text-decoration: none;
  color: brown;
  font-size:2rem;
  margin-left:auto;
  line-height: 1.8rem;
}

.done > span {
  text-decoration: line-through;
}